<config>
    <modules>
        <Creare_Deposit>
            <version>0.3.0</version>
        </Creare_Deposit>
    </modules>
    <global>
        <models>
            <creare_deposit>
                <class>Creare_Deposit_Model</class>
            </creare_deposit>
        </models>
        <blocks>
            <creare_deposit>
                <class>Creare_Deposit_Block</class>
            </creare_deposit>
            <adminhtml>
                <rewrite>
                    <sales_order_totals>Creare_Deposit_Block_Adminhtml_Sales_Order</sales_order_totals>
                    <sales_order_invoice_totals>Creare_Deposit_Block_Adminhtml_Sales_Invoice</sales_order_invoice_totals>
                    <sales_order_creditmemo_totals>Creare_Deposit_Block_Adminhtml_Sales_Creditmemo</sales_order_creditmemo_totals>
                    <sales_order_creditmemo_create_adjustments>Creare_Deposit_Block_Adminhtml_Sales_Creditmemo_Adjustments</sales_order_creditmemo_create_adjustments>
                </rewrite>
            </adminhtml>
            <sales>
                <rewrite>
                    <order_totals>Creare_Deposit_Block_Sales_Order</order_totals>
                    <order_invoice_totals>Creare_Deposit_Block_Sales_Invoice</order_invoice_totals>
                    <order_creditmemo_totals>Creare_Deposit_Block_Sales_Creditmemo</order_creditmemo_totals>
                </rewrite>
            </sales>
        </blocks>
        <helpers>
            <creare_deposit>
                <class>Creare_Deposit_Helper</class>
            </creare_deposit>
        </helpers>
        <sales>
             <quote>
                 <totals>
                     <creare_deposit>
                         <class>creare_deposit/total_deposit_quote</class>
                         <after>subtotal</after>
                     </creare_deposit>
                 </totals>
             </quote>
             <order_invoice>
                 <totals>
                     <creare_deposit>
                         <class>creare_deposit/total_deposit_invoice</class>
                         <after>subtotal</after>
                     </creare_deposit>
                 </totals>
             </order_invoice>
             <order_creditmemo>
                 <totals>
                     <creare_deposit>
                         <class>creare_deposit/total_deposit_creditmemo</class>
                         <after>subtotal</after>
                     </creare_deposit>
                 </totals>
             </order_creditmemo>
        </sales>
        <events>
            <paypal_prepare_line_items>
                <observers>
                    <creare_deposit>
                        <class>creare_deposit/observer</class>
                        <method>sendDepositToPaypal</method>
                    </creare_deposit>
                </observers>
            </paypal_prepare_line_items>
            <sales_order_invoice_save_after>
                <observers>
                    <sales_order_invoice_save_after>
                        <class>creare_deposit/observer</class>
                        <method>invoiceSaveAfter</method>
                    </sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_creditmemo_save_after>
               <observers>
                   <sales_order_creditmemo_save_after>
                       <class>creare_deposit/observer</class>
                       <method>creditmemoSaveAfter</method>
                   </sales_order_creditmemo_save_after>
               </observers>
           </sales_order_creditmemo_save_after>
           <sales_order_creditmemo_save_before>
               <observers>
                   <sales_order_creditmemo_save_after>
                       <class>creare_deposit/observer</class>
                       <method>creditmemoSaveBefore</method>
                   </sales_order_creditmemo_save_after>
               </observers>
           </sales_order_creditmemo_save_before>
        </events>
        <fieldsets>
            <sales_convert_quote_address>
                <deposit_amount><to_order>*</to_order></deposit_amount>
                <base_deposit_amount><to_order>*</to_order></base_deposit_amount>
            </sales_convert_quote_address>
        </fieldsets>
        <resources>  
            <creare_deposit_setup>
                <setup>
                    <module>Creare_Deposit</module>
                </setup>
            </creare_deposit_setup>
        </resources>
        <pdf>
            <totals>
                <creare_deposit translate="title">
                    <title>Zero VAT Cylinder Deposit</title>
                    <source_field>deposit_amount</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>250</sort_order>
                </creare_deposit>
            </totals>
        </pdf>
     </global>
     <default>
        <sales>
            <totals_sort>
                <creare_deposit>15</creare_deposit>
            </totals_sort>
        </sales>
    </default>
    <adminhtml>
        <layout>
            <updates>
                <creare_deposit>
                    <file>creare/deposit.xml</file>
                </creare_deposit>
            </updates>
        </layout>
    </adminhtml>
</config>